<section id="limited" class="limited">
    <p class="limited__ttl tamimoon__ttl">LIMITED CAMPAIGN</p>
    <p class="tamimoon__subttl">tamimoon直筆サイン入り<br>複製原画</p>
    <p class="tamimoon__leadText">メンズ・ウィメンズどちらでも、3万円以上のスーツ(メンズセットアップを除く直営工場品)にオプションの追加でプレゼントキャンペーンへの応募が可能です。</p>
    <div class="fluidimg"></div>

    <div class="tamimoon__blc">
        <p class="limited__note">※画像はイメージです</p>
        <div class="limited__blc">
            <div class="limited__blc--flx">
                <div class="limited__blc--small left">
                    <p class="limited__blc--oubo">プレゼント内容</p>
                    <p class="limited__blc--txt">tamimoonの直筆サインが入った複製原画(額装付き)を、抽選で10名様にプレゼント。<br>
                        希望の原画を選択可能です。</p>
                    <p class="limited__blc--oubo">応募条件</p>
                    <p class="limited__blc--txt">限定オプション付きでスーツを購入した方且つ、オンワードメンバーズ登録済みの方。<br>
                        ※スーツ１着につき1口応募可能。</p>
                </div>

                <div class="limited__blc--small right">
                    <p class="limited__blc--oubo">応募期間</p>
                    <p class="limited__blc--txt">2023年10月14日 10:00〜11月19日23:59まで。</p>
                    <p class="limited__blc--oubo mt">応募方法</p>
                    <div class="limited__blc--txt2wrap">
                        <p class="limited__blc--txt2">・店頭QRコード</p>
                        <p class="limited__blc--txt2">・当サイト内応募フォームリンク</p>
                        <p class="limited__blc--txt2">・受注、発送メルマガ内URL<br>よりご応募いただけます。</p>
                    </div>


                </div>

            </div>

            <p class="oubobtn"><a href="https://forms.office.com/r/4YHJAB7dmA" target="_blank"
                    rel="noopener noreferrer">応募フォーム</a></p>

            <p class="limited__blc--txt">当選者の発表は、オンワードメンバーズ登録メールアドレスへの連絡をもって代えさせていただきます。</p>

        </div>
    </div>
</section>



<section id="package" class="package">
    <p class="package__ttl tamimoon__ttl">LIMITED package</p>
    <p class="tamimoon__subttl">限定パッケージ</p>
    <div class="tamimoon__blc">
        <div class="package__img">
            <picture class="pc">
                <source srcset="./assets/img/img_package-pc.webp" type="image/webp">

                <img src="./assets/img/img_package-pc.jpg" alt="campaign" width="1280" height="1135">
            </picture>
            <picture class="sp">
                <source srcset="./assets/img/img_campaign03-sp.webp" type="image/webp">

                <img src="./assets/img/img_campaign03-sp.jpg" alt="campaign" width="1202" height="1407">
            </picture>
        </div>

        <div class="package__fukidashi">
            <p class="package__fukidashi--txt">限定パッケージ（オリジナルTシャツ・オリジナルステッカーセット）店頭ポスターとこのパッケージ限定で書き下ろされた集合絵。カラーで手に入るのはこのパッケージだけ。</p>
        </div>

        <ul class="package__btns">
            <li>
                <a href="#popup" class="site">POPUP </a>
            </li>
            <li>
                <a href="https://crosset.onward.co.jp/shop/kashiyama?du=1" target="_blank" rel="noopener noreferrer" class="closet">オンワードクローゼット</a>
            </li>
        </ul>

        <ul class="package__tshirt">
            <li>
                <img src="./assets/img/product_tshirt01.jpg" alt="RIKU" width="400px" height="400px">
            </li>
            <li>
                <img src="./assets/img/product_tshirt02.jpg" alt="YUKI" width="400px" height="400px">
            </li>
            <li>
                <img src="./assets/img/product_tshirt03.jpg" alt="NANA" width="400px" height="400px">
            </li>
            <li>
                <img src="./assets/img/product_tshirt04.jpg" alt="RIN" width="400px" height="400px">
            </li>
            <li>
                <img src="./assets/img/product_tshirt05.jpg" alt="JUN" width="400px" height="400px">
            </li>
            <li>
                <img src="./assets/img/product_tshirt06.jpg" alt="全員" width="400px" height="400px">
            </li>
        </ul>

        <div class="package__details--wrap">
        <div class="package__details">
            <p class="package__details--txt">RIKU・YUKI・NANA・RIN・JUN<br>限定パッケージ 各セット内容</p>
            <p class="package__details--txt2">⚫︎オリジナルTシャツ<br><span>カラー：ホワイトのみ<br>
                サイズ：M、L（ユニセックス）</span></p>
            <p class="package__details--txt2">⚫︎オリジナルステッカー5枚セット</p>
        </div>
    </div>
    </div>
</section>


<section id="popup" class="popup">
    <p class="popup__ttl tamimoon__ttl">期間限定POPUP</p>
    <p class="tamimoon__subttl">期間限定POPUP開催！ </p>

    <div class="popup__img"> 
        <picture>
            <source srcset="./assets/img/img_popup-fv.webp" type="image/webp">
            <img src="./assets/img/img_popup-fv.jpg" alt="campaign" width="1920" height="1278">
        </picture>
    </div>
    <div class="tamimoon__blc">

    <p class="popup__txt">開催期間中、サイン入り複製原画の展示、限定パッケージの先行販売を実施します。 <br>ぜひお近くの店舗までお越しください。</p>
    <div class="popup__blc">
        <div class="popup__blc--flx">
            <div class="popup__blc--small left">
                <div class="popup__blc--smallin">

                <p class="popup__blc--oubo">東京</p>
                    <p class="popup__blc--txt">2023年10月14日(土)〜17日(火)<br>
                    <a href="/shop/31220.html" target="_blank" rel="noopener noreferrer">新宿東口店</a></p>
                    <p class="popup__blc--txt">2023年10月20日(金)〜23日(月)<br>
                        <a href="/shop/31234.html" target="_blank" rel="noopener noreferrer">吉祥寺店</a></p>
                    <p class="popup__blc--txt">2023年10月27日(金)〜30日(月)<br>
                        <a href="/shop/31168.html" target="_blank" rel="noopener noreferrer">銀座ベルビア館店</a>
                    </p>
                </div>

                <p class="popup__blc--oubo">大阪</p>
                <p class="popup__blc--txt">2023年10月14日(土)〜17日(火)<br>
                    <a href="/shop/31181.html" target="_blank" rel="noopener noreferrer">ルクア イーレ店</a></p>
                </p>
            </div>

            <div class="popup__blc--small right">
                <div class="popup__blc--smallin">
                    <p class="popup__blc--oubo">名古屋</p>
                    <p class="popup__blc--txt">2023年10月27日(金)〜30日(月)<br>
                        <a href="/shop/31226.html" target="_blank" rel="noopener noreferrer">名古屋タカシマヤ ゲートタワーモー
                            ル店</a>
                    </p>
                </div>
                <p class="popup__blc--oubo">福岡</p>
                <p class="popup__blc--txt">2023年10月20日(金)〜23日(月)<br>
                    <a href="/shop/31225.html" target="_blank" rel="noopener noreferrer">天神店</a></p>
                </p>

            </div>

        </div>

    </div>
</div>

</section>

<section id="option" class="option">
    <p class="option__ttl tamimoon__ttl">期間限定POPUP</p>
    <p class="tamimoon__subttl">期間限定オプション</p>
    <p class="option__txt01">2023年10月14日(土)〜11月14日(火)</p>
    <p class="option__txt02">3,300円<span>(税込)</span></p>
    <div class="option__img">
        <picture>
            <source srcset="./assets/img/img_option-fv.webp" type="image/webp">

            <img src="./assets/img/img_option-fv.jpg" alt="campaign" width="1920" height="2114">
        </picture>
    </div>
    <p class="option__note">※全てのオーダースーツ（直営工場発送分）にオプション選択可能です。</p>
    <p class="option__note">※無くなり次第終了とさせていただきますので予めご了承ください。</p>
</section>