
<!DOCTYPE html>
<html lang="ja">
  <head>
<!-- <meta charset="Shift_JIS"> -->
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="tamimoon x KASHIYAMA 限定コラボキャンペーン | 体型に寄り添った上質なオーダースーツ店KASHIYAMAのニュース一覧です。本格オーダーメイドスーツなら樫山。">
<meta name="keywords" content="KASHIYAMA,樫山,スマートテーラー,スーツ,オーダー,suit,order,smart,tailor,フィッター,ONWARD,オンワード,パーソナルスタイル,オンライン,来店採寸,出張採寸,サービス,カシヤマ　ザ・スマートテーラー">
<title>tamimoon x KASHIYAMA 限定コラボキャンペーン | オーダースーツのKASHIYAMA</title>
<meta property="og:title" content="tamimoon x KASHIYAMA 限定コラボキャンペーン | オーダースーツのKASHIYAMA">
<meta property="og:description" content="tamimoon x KASHIYAMA 限定コラボキャンペーン | 体型に寄り添った上質なオーダースーツ店KASHIYAMAのニュース一覧です。本格オーダーメイドスーツなら樫山。">

<meta property="og:image" content="https://stg.kashiyama1927.jp/campaign/tamimoon/assets/img/ogp.png">
<meta property="og:url" content="https://stg.kashiyama1927.jp/campaign/tamimoon/">
<meta property="og:type" content="article">


<!-- WEB FONT -->
<script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?Yjql6w54exs%3D&box=EMIWlvkOKeQ%3D&pm=1&aa=1&ab=2" charset="utf-8"></script>
<link rel="stylesheet" href="https://use.typekit.net/dpz6byc.css">

<!-- ICONS -->
<link rel="icon" href="/assets/images/favicon.ico"/>
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png"/>
<link rel="icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png"/>
<link rel="icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png"/>
<link rel="icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png"/>
<link rel="icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png"/>
<link rel="icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png"/>
<link rel="icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png"/>
<link rel="icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png"/>

<!-- Google Tag Manager-->
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TQZ9JF7');
</script>
<!-- End Google Tag Manager-->
    <link rel="stylesheet" href="https://kashiyama1927.jp/assets/css/base_21ss.css">
    <link rel="stylesheet" href="https://kashiyama1927.jp/assets/css/common.css?v=20230830125948">
    <link rel="stylesheet" href="https://kashiyama1927.jp/assets/css/news.css?v=20230830125948">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "TOP",
          "item": "https://kashiyama1927.jp/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "CAMPAIGN",
          "item": "https://kashiyama1927.jp/news/campaign/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "tamimoon x KASHIYAMA 限定コラボキャンペーン",
          "item": "https://stg.kashiyama1927.jp/campaign/tamimoon/"
        }
      ]
    }
    </script>

  </head>
  <body data-lang="ja">
    <div id="main-wrapper">
      <!-- HEADER START-->
      <header>

</header>
    
  <%- include('./module/fv'); %>
  <%- include('./module/campaign'); %>
  <%- include('./module/cloth'); %>
<%- include('./module/last'); %>




<!-- Google Tag Manager (noscript)-->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQZ9JF7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript)-->      <!-- FOOTER END -->
  

  </body>
</html>